.counselor-image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: transform 0.3s;
}
.counselor-info.counsellor {
    display: flex;
    flex-direction: row;
}

.about-pc {
    display: none;
}

@media (min-width: 849px) {

    .about-pc {
        display: flex;
    }

    .counselor-info details {
        display: none;
    }
    
    .counselor-image img:hover {
        transform: scale(1.1);
    }
    
    .counselor-info .data {
        justify-content: start;
        min-width: 50vw;
    }
}